<% provide(:title, "Log in") %>
<p id="notice"><%= notice %></p>

<% if logged_as_student? %>
  <% @student = Student.find_by(user_id: @user.id)%>
  <p>
  <strong>student number :</strong>
  <%= @student.student_number %>
</p>
<% end %>

<p>
  <strong>Type user:</strong>
  <%= @user.type_user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



